ANCHOR_API_ID=
ANCHOR_API_HASH=
ANCHOR_PHONE=

PEERS=

FORCED_PROBABILITIES=false

OFF_NO_REPLY_LIMIT=false

# better to have this flag in the future
OFF_RANDOMIZATION=false
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=
GOOGLE_CALLBACK_PORT=9099
